#######################
### .gitignore file ###
#######################

# blacklist all files
/*

# whitelist the following special files
!.gitignore
!README.md
!LICENSE

# whitelist the following files / folders
!bash/
!bspwm/
!Code\ -\ OSS/User/keybindings.json
!Code\ -\ OSS/User/settings.json
!dunst/
!firefox/
!gtk-2.0/gtkrc-2.0
!gtk-3.0/
!kitty/
!Kvantum/
!lemonbar/
!micro/colorschemes/
!micro/settings.json
!moc/config
!nvim/init.vim
!polybar/
!ranger/
!rofi/
!scripts/
!sxhkd/

