/* A custom Arc-Dark Discord theme */
/* ~/.config/discord/0.0.XX/modules/discord_desktop_core/discord-custom.css */

.theme-dark {
	/* Message stream backgrounds and top right header */
	--background-primary: #404552!important; /*29353B*/
	/* Folder, channel list, member list and pinned message backgrounds */
	--background-secondary: #353945; /*#243035*/
	/* Server list and search background*/
	--background-tertiary: #2F343F; /*#222D32*/
	/* User name and settings icon background */
	--background-secondary-alt: #383C4A; /*#263238*/
	/* Message background */
	--channeltextarea-background: #383C4A; /*#263238*/
}

.peopleColumn-29fq28 {
	background-color: #404552!important; /*29353B*/
}
